.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #f4f4f4;
  padding: 2rem 0;

  &__logo {
    font-size: 4rem;
    color: rgb(253, 100, 45);
    padding: 1rem;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  }

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;

    .nav-link:link,
    .nav-link:visited {
      color: #555;
      font-size: 1.5rem;
      font-weight: 500;
      text-decoration: none;
    }

    li:not(:last-child) {
      margin-right: 5rem;
    }
  }
}
